[project]
name = "nvidia-modelopt"

description = "A library to automatically apply various optimization techniques for AI models to optimize inference with TensorRT / TensorRT-LLM."

authors = [
    {name = "NVIDIA Corporation"},
]

readme = "README.md"
license = {text = "Apache-2.0"}
requires-python = ">=3.12,<3.13"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: Apache Software License",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]

dynamic = ["version"]

dependencies = [
    "lief>=0.17.1",
    "ninja",
    "numpy",
    "nvidia-ml-py>=12",
    "packaging",
    "pip>=25.3",
    "pulp",
    "pydantic>=2.0",
    "regex",
    "rich",
    "safetensors",
    "scipy",
    "sentencepiece>=0.2.1",
    "tensorrt>=10.14.1.48.post1",
    "torch>=2.6",
    "torchprofile>=0.0.4",
    "tqdm",
]

[project.optional-dependencies]
onnx = [
    "cppimport",
    "cupy-cuda12x; platform_machine != 'aarch64' and platform_system != 'Darwin'",
    "ml_dtypes",
    "onnx-graphsurgeon",
    "onnxconverter-common~=1.16.0",
    "onnxruntime-directml==1.20.0; platform_system == 'Windows'",
    "onnxruntime-gpu~=1.22.0; platform_machine != 'aarch64' and platform_system != 'Darwin' and platform_system != 'Windows'",
    "onnxruntime~=1.22.0; platform_machine == 'aarch64' or platform_system == 'Darwin'",
    "onnxscript",
    "onnxslim>=0.1.76",
    "onnx~=1.19.0",
    "polygraphy>=0.49.22",
]

hf = [
    "accelerate>=1.0.0",
    "datasets>=3.0.0",
    "deepspeed>=0.9.6; platform_system != 'Darwin' and platform_system != 'Windows'",
    "diffusers>=0.32.2",
    "huggingface_hub>=0.24.0",
    "peft>=0.17.0",
    "transformers<5.0,>=4.53",
]

dev-lint = [
    "bandit[toml]==1.7.9",
    "mypy==1.17.1",
    "pre-commit==4.3.0",
    "ruff==0.12.11",
]

dev-test = [
    "coverage",
    "pytest",
    "pytest-cov",
    "pytest-instafail",
    "pytest-timeout",
    "timm",
    "torch-geometric",
    "torchvision",
    "tox-current-env>=0.0.12",
    "tox>4.18",
]

dev-docs = [
    "autodoc_pydantic>=2.1.0",
    "sphinx~=8.1.0",
    "sphinx-argparse>=0.5.2",
    "sphinx-autobuild>=2024.10.3",
    "sphinx-copybutton>=0.5.2",
    "sphinx-inline-tabs>=2023.4.21",
    "sphinx-rtd-theme~=3.0.0",
    "sphinx-togglebutton>=0.3.2",
]

dev-build = [
    "cython",
    "setuptools",
    "setuptools-scm>=8",
]

all = [
    "nvidia-modelopt[onnx,hf]",
]

dev = [
    "nvidia-modelopt[all,dev-lint,dev-test,dev-docs,dev-build]",
]

[project.urls]
Homepage = "https://github.com/NVIDIA/TensorRT-Model-Optimizer"
Repository = "https://github.com/NVIDIA/TensorRT-Model-Optimizer"
Issues = "https://github.com/NVIDIA/TensorRT-Model-Optimizer/issues"
Documentation = "https://nvidia.github.io/TensorRT-Model-Optimizer"

[project.entry-points."modelopt_config_plugins"]
dummy = "modelopt.core._dummy_plugin:dummy_plugin"

[[tool.uv.index]]
url = "https://pypi.nvidia.com/"

[project.scripts]
modelopt = "modelopt.cli.main:main"

####################################################################################################
###############################  BUILD CONFIGURATION  ##############################################
####################################################################################################

[build-system]
requires = ["cython", "setuptools>=80", "setuptools-scm>=8"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["modelopt"]
include-package-data = true

[tool.setuptools.package-data]
"modelopt.torch.export.triton" = ["*.cpp", "*.h"]
"modelopt.torch._C" = ["*.cpp", "*.h", "*.cu"]

[tool.setuptools_scm]
write_to = "modelopt/_version.py"

####################################################################################################
###############################  LINTING, FORMATTING AND TESTING CONFIGURATION  ####################
####################################################################################################

[tool.ruff]
target-version = "py310"
line-length = 100        # Line length limit for code
fix = true

[tool.ruff.format]
# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false
docstring-code-format = true
# Set the line length limit used when formatting code snippets in docstrings.
docstring-code-line-length = "dynamic"

[tool.ruff.lint]
# See available rules at https://docs.astral.sh/ruff/rules/
# Flake8 is equivalent to pycodestyle + pyflakes + mccabe.
select = [
    "C4",   # Flake8 comprehensions
    "D",    # pydocstyle
    "E",    # pycodestyle errors
    "F",    # pyflakes
    "FURB", # refurb
    "I",    # isort
    "ISC",  # flake8-implicit-str-concat
    "N",    # pep8 naming
    "PERF", # Perflint
    "PGH",  # pygrep-hooks
    "PIE",  # flake8-pie
    "PLE",  # pylint errors
    "PLR",  # pylint refactor
    "PT",   # flake8-pytest-style
    "RUF",  # ruff
    "SIM",  # flake8-simplify
    "TC",   # flake8-type-checking
    "UP",   # pyupgrade
    "W",    # pycodestyle warnings
]
extend-ignore = [
    "D105",
    "D417",
    "N812",
    "PLR0402",
    "PLR0912",
    "PLR0913",
    "PLR0915",
    "PLR2004",
    "PLR0911",
    "PT011",
    "PT018",
    "PT028",
    "PT030",
    "RUF002",
    "RUF012",
    "SIM102",
    "SIM108",
    "SIM115",
    "UP032",
    "UP038",
]


[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]
"examples/*" = ["D"]
"tests/*" = ["B017", "D", "E402", "PT012"]
"*/_[a-zA-Z]*" = ["D"] # Private packages (_abc/*.py) or modules (_xyz.py)
"*.ipynb" = [
    "D",
    "E501",
] # Ignore missing docstrings or line length for Jupyter notebooks

"modelopt/torch/quantization/triton/*" = ["N803", "N806", "E731"] # triton style
"examples/deepseek/ds_kernel.py" = ["N803", "N806", "E731"] # triton style

[tool.ruff.lint.pycodestyle]
max-line-length = 120 # Line length limit for comments and docstrings


[tool.ruff.lint.pydocstyle]
convention = "google"


[tool.ruff.lint.isort]
known-first-party = ["modelopt"]
split-on-trailing-comma = false


[tool.mypy]
files = "."
install_types = true
non_interactive = true
show_error_codes = true
disable_error_code = [
    "assignment",
    "operator",
    "has-type",
    "var-annotated",
    "override",
]
explicit_package_bases = true
namespace_packages = true
# strict checks
strict = true
disallow_subclassing_any = false
disallow_untyped_decorators = false
disallow_any_generics = false
disallow_untyped_calls = false
disallow_incomplete_defs = false
disallow_untyped_defs = false
warn_return_any = false


[[tool.mypy.overrides]]
module = ["tests.*"]
ignore_errors = true

[[tool.mypy.overrides]]
module = ["examples.*"]
disable_error_code = ["attr-defined"]

[tool.pytest.ini_options]
# Default additional options
# Show a short test summary info for all except passed tests with -ra flag
# print execution time for 20 slowest tests and generate coverage reports
addopts = "-v -ra --instafail --cov-report=term-missing --cov-report=html --cov-report=xml:coverage.xml --cov-config=pyproject.toml --durations=20 --strict-markers"
pythonpath = ["tests/"]
markers = [
    "manual: Only run when --run-manual is given",
    "release: Regression tests that should be run before every release",
]


[tool.coverage.run]
# measure branch coverage in addition to statement coverage
branch = false
include = ["modelopt/*"]
omit = ["*/plugins/*", "*/export/*"]


[tool.coverage.report]
fail_under = 70
skip_covered = true
ignore_errors = true
exclude_lines = [
    "pragma: no cover",
    # Don't complain about missing debug or verbose code
    "def __repr__",
    "if verbose",
    # Don't complain if tests don't hit defensive exception handling code
    "raise AssertionError",
    "raise NotImplementedError",
    "raise RuntimeError",
    "raise ValueError",
    "raise KeyError",
    "raise AttributeError",
    "except ImportError",
    # Don't complain if non-runnable code isn't run
    "if __name__ == \"__main__\":",
    "if TYPE_CHECKING:",
    # Don't complain about abstract methods, they aren't run
    "@(abc\\.)?abstractmethod",
]


[tool.bandit]
exclude_dirs = [".github/", "examples/", "tests/"]
# Do not change `skips`. It should be consistent with NVIDIA's Wheel-CI-CD bandit.yml config.
# Use of `# nosec BXXX` requires special approval
skips = [
    "B101", # assert_used
    "B110", # try_except_pass
    "B112", # try_except_continue
    "B303", # MD2, MD4, MD5, or SHA1
    "B311", # random
]

[tool.uv.workspace]
members = [
    ".",
]

[tool.uv.sources]
nvidia-modelopt = { workspace = true, editable = true }

[dependency-groups]
dev = [
    "nvidia-modelopt[all]",
]

[tool.uv.extra-build-dependencies]
"tensorrt-10.14.1.48.post1" = ["setuptools"]
